/* center horizontally with no margin in the top and bottom */
selector {
  margin: 0 auto;
}

/* center vertically with no margin in the left and right */
selector {
  margin: auto 0;
}

/* center horizontally and vertically */
selector {
  margin: auto auto;
}
